.header {
  position: relative;
  width: 100%;
  height: 550px; /* Set the desired fixed height */
  overflow: hidden;
}

.header svg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%; /* Make the SVG fill the entire container */
}
.header svg.dark-midnight {
  width: 60%;
  z-index: 10;
}

.header svg.teal {
  width: 65%;
  z-index: 9;
}

.header svg.vibrant {
  width: 70%;
  z-index: 8;
}

.header svg.cyan {
  width: 75%;
  z-index: 7;
}

.header .img-header {
  width: 70%;
  height: 550px;
}
.MuiBox-root .css-13tqxrv {
  position: relative;
}

.header .explore {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-100%);
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .explore p {
  font-weight: bold;
  font-size: 20px;
  color: white;
  width: 70%;
  text-align: center;
}

.header .explore-btn {
  background-color: var(--main-color-vibrant-orange);
  color: black;
  font-weight: bold;
  padding: 10px 25px;
  margin: 20px auto;
  text-decoration: none;
  border-radius: 6px;
}

@media (max-width: 898px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    overflow: visible;
  }

  .header .img-header {
    width: 100%;
    height: 100%;
  }

  .header .explore {
    min-height: 250px;
    padding: 20px 25px;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(0);
    z-index: 200;
  }
}
