/* Fonts Google */
@font-face {
  font-family: Inter-italic;
  src: url(../public/fonts/inter_italic.ttf);
}

@font-face {
  font-family: Inter-normal;
  src: url(../public/fonts/inter_normal.ttf);
}

body {
  direction: rtl;
  margin: 0;
  font-family: Inter-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-dark-midnight-blue: #023047;
  --main-color-dark-teal: #126782;
  --main-color-cyan-blue: #219ebc;
  --main-color-light-blue: #8ecae6;
  --main-color-golden-yellow: #ffb703;
  --main-color-orange-gold: #fd9e02;
  --main-color-vibrant-orange: #fb8500;
  --main-color-error: #d32f2f;
}

hr {
  width: 100%;
}

img {
  max-width: 100%;
}
