/* Fonts Google */

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/inter_normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Italic */

@font-face {
  font-family: "Inter-italic";
  src: url("../public/fonts/inter_italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  direction: rtl;
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  direction: rtl;
  margin: 0;
  font-family: Inter, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --main-dark-midnight-blue: #023047;
  --main-color-dark-teal: #126782;
  --main-color-dark-teal-hover: #105d75;
  --main-color-cyan-blue: #219ebc;
  --main-color-light-blue: #8ecae6;
  --main-color-golden-yellow: #ffb703;
  --main-color-orange-gold: #fd9e02;
  --main-color-vibrant-orange: #fb8500;
  --main-color-error: #d32f2f;
}

hr {
  width: 100%;
}

img {
  max-width: 100%;
}
